<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <environment include="Development">
        <script src="~/js/Core.js?@DateTime.Now.Ticks"></script>
        <link rel="stylesheet" href="~/css/site.css?@DateTime.Now.Ticks" />
    </environment>
    <environment exclude="Development">
        <script src="~/js/Core.js"></script>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                Home
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto header-spacing">

                    <li class="nav-item header-spacing">
                        <a asp-area="" class="nav-link" asp-controller="Modules" asp-action="Index">Modules</a>
                    </li>

                    <li class="nav-item header-spacing">
                        <a asp-area="" class="nav-link" asp-controller="ModuleStateChanges" asp-action="Index">Module State Changes</a>
                    </li>

                    @await Html.PartialAsync("_LoginPartial")


                </ul>
            </div>
        </nav>
    </header>

    <section class="main-body-section">
        <div class="container">

            <div class="justify-content-md-center">
                <div class="alert-results-container"></div>
            </div>

            @RenderBody( )
        </div>
    </section>
    <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>&copy;2018</p>
                </div>
            </div>
        </div>
    </section>



    <div class="modal fade" id="modal-show-message-default" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="modal-show-message-default-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>


                </div>
                <div class="modal-body">
                    <p id="modal-show-message-default-text"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-logout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Log out</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to log out?</p>
                </div>
                <div class="modal-footer">

                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                        <button id="btnLogout" type="submit" class="btn btn-outline-secondary">Yes</button>
                    </form>

                </div>
            </div>
        </div>
    </div>


    <div id="modal-loading" class="modal fade" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center"><b>Loading....</b></h4>
                </div>
                <div class="modal-body">
                    <img src="~/images/loading.gif" class="img-responsive" />
                </div>
            </div>
        </div>
    </div>








   
    <script>

        @if (TempData["CustomResponseAlert"] != null)
        {
            <text>
                var jsonResponse = '@TempData["CustomResponseAlert"]';

                if ( jsonResponse )
                {
                    var responseArray = jsonResponse.split( "||" );

                    var result = { status: responseArray[0], message: responseArray[1] };

                    Core.ShowViewAlert( result );
                }
            </text>
        }

        $( '#btnLogout' ).on( "click", function ()
        {
            Core.EndSession();
        } );


    </script>

    @RenderSection( "Scripts", required: false )
</body>
</html>
