@model SimplySecureApi.Data.Models.Domain.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}



<div class='container'>
    <div class="row">
        <div class="col">
            <h2 class="text-danger">Error.</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3 class="text-danger">An error occurred while processing your request.</h3>
        </div>
    </div>


    <div class="row">
        <div class="col">
            @if (TempData["ErrorMessage"] != null)
            {
                <p class="text-danger">@TempData["ErrorMessage"]</p>
            }
        </div>
    </div>
</div>