@model SimplySecureApi.Data.Models.Domain.Entity.ModuleStateChange

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ModuleStateChange</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="State" /> @Html.DisplayNameFor(model => model.State)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ModuleId" class="control-label"></label>
                <select asp-for="ModuleId" class="form-control" asp-items="ViewBag.ModuleId"></select>
                <span asp-validation-for="ModuleId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
