@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}


<div class="text-center">
    <form asp-route-returnurl="@ViewData["ReturnUrl"]" class="form-authenticate" method="post">

        <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>

        <div asp-validation-summary="All" class="text-danger"></div>

        <label asp-for="Email" class="sr-only">Email Address</label>
        <input asp-for="Email" class="form-control" placeholder="Email address" required autofocus />
        <span asp-validation-for="Email" class="text-danger"></span>

        <label asp-for="Password" class="sr-only"></label>
        <input asp-for="Password" class="form-control" placeholder="Password" required />
        <span asp-validation-for="Password" class="text-danger"></span>

        <label asp-for="ConfirmPassword" class="sr-only"></label>
        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password" required />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

       
        <button type="submit" class="btn btn-lg btn-primary btn-block btn-proceed-authenticate">Register</button>


        <div class="form-group">

            <p>
                <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Already have an account?</a>
            </p>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
