@model SimplySecureApi.Data.Models.Domain.Entity.Module

@{
    ViewData["Title"] = "Delete Module";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>

<div class="jumbotron">
    <div class="row">
        <div class="col">
            <h4>Are you sure you want to delete module: <b>@Html.DisplayNameFor(model => model.Name)</b> ?</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>
</div>


