@model SimplySecureApi.Data.Models.Domain.Entity.Module

@{
    ViewData["Title"] = "Edit Module";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="row jumbotron justify-content-center">
    <div class="col-md-7">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label for="mId">Module Id:</label>
                <textarea class="form-control text-center" style="font-weight: bold;" disabled="disabled" rows="3" id="mId">@Html.DisplayFor(model => model.Id)</textarea>
            </div>
            
            <div class="form-group">
                <button type="button" class="btn btn-primary" onclick="CopyModuleId()"> Copy Module Id to clipboard</button>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsMotionDetector" disabled="disabled" /> @Html.DisplayNameFor(model => model.IsMotionDetector)
                </label>
                <p class="text-danger"> *Motion detectors will be supported in next release</p>
            </div>

            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <select asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="LastHeartbeat" />
            <input type="hidden" asp-for="LastBoot" />
            <input type="hidden" asp-for="State" />

            @await Html.PartialAsync("ButtonSaveChanges")

        </form>
    </div>
</div>

<script>

    function CopyModuleId() {
        Core.CopyToClipboard('@Html.DisplayFor(model => model.Id)');
        Core.ShowAlert("Module Id successfully copied to clipboard", "alert-success");
    }

</script>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
